{% extends 'catalog/base.html' %}
{% block content %}

<div class="col-6">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Авторизация</h4>
        </div>
        <div class="card-body">
            <form method="post" action="" class="form-floating">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-lg btn-block btn-outline-success">Войти</button>
            </form>
        </div>
    </div>
    <a href="{% url 'users:generate_new_password' %}" class="btn btn-danger">Восстановить пароль</a>
</div>
{% endblock %}