{% extends 'catalog/base.html' %}
{% block content %}

<div class="col-6">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Восстановление пароля</h4>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'users:password_recovery' %}" class="form-control" >
                {% csrf_token %}
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" >
                <button type="submit" class="btn btn-danger">Восстановление пароля</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}